/*****************************************
*
*Author: Batlomiej Ciupa
*Date: 26.01.2022
*
******************************************/

/* Style all P tags*/
/* 
p {
  font-size: 18px;
  color: blueviolet;
}

#header p {
  position: absolute;
  top: 0;
  left: 0;
}


h1 {
  font-size: 32px;
} 

*/

/*TARGETING ELEMENTS /TAGS*/

/* p {
  padding: 10px;
  font-size: 18px;
  color: coral;
  background-color: khaki;
  border: lawngreen;
  size: 50px;
}

a {
  text-decoration: underline;
  color: blue;
}

span {
  text-transform: uppercase;
  display: block;
  color: cadetblue;
}

h1 {
  font-size: 32;
}

div {
  width: 100%;
  background-color: cornsilk;
}

h2 {
  font-size: 24px;
}

#content-header {
  font-size: 18px;
  color: rgb(59, 83, 2);
}

.deck {
  color: rgba(215, 43, 238, 0.835);
}

span {
  color: gray;
}
body {
  background-color: honeydew;
}

#main-content p {
  color: red;
} */

/*p{
  color: red !important;
}*/

/* #main-content p {
  color: green;
}

/*Descendant selector*/
/* #main-content #sub-content p {
  color: red;
} */

/*Child selector*/
/* #main-content > p {
  text-decoration: underline;
} */

/*Adjacent Selector
#all-articles h2 +p{}*/

/*Atributte Selector
 *span[class]{
  *color:purple}
   *span[class~="deck"]{
  *color:purple}
  a[title="Search engine"]{
    color: red;
  }
  a[href$="pdf"]
*/

/*Pseudo classes*/
/* 
a:hover {
  color: red;
}

a:active {
  color: orange;
}

a:visited {
  color: purple;
} */

/* article p:first-child {
  font-weight: bold;
  color: blue;
}

article p:last-child {
  color: red;
} */

/* article p:first-of-type {
  font-weight: bold;
  color: blueviolet;
}

article p:last-of-type {
  color: red;
} */

/* li:nth-child(1),
li:nth-child(7) {
  font-weight: bold;
  color: blueviolet;
}

li:nth-child(even) {
  background: grey;
}
li:nth-child(odd) {
  background: pink;
}
li:nth-child(2n + 1) {
  font-style: italic;
}
li:nth-child(3n + 1) {
  font-style: italic;
} */

/* article:nth-child(2) {
  background-color: indianred;
}

article:nth-of-type(1) {
  color: honeydew;
}

article:nth-of-type(odd) {
  color: chartreuse;
}

article:nth-of-type(2n + 1) {
  display: justify;
  font-style: italic;
} */

/* article.featured-content {
  color: rosybrown;
}

div.featured-content {
  background: steelblue;
}
article.featured-content {
  color: greenyellow;
} */
/* 
h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  font: size 16px;
}

article {
  font-size: 16px;
}

article h2 {
  font-size: 4em; /*mnoży obecną wartość czcionki przez podaną wartość, obecnie 16px*4=84px*/
/*}

article p {
  font-size: 50%; /* zwraca 50% wartość obecnej wielkości czcionki, itp*/
/*} */
/*
article h2,
article p {
  font-family: arial; /*wyświetli czcionkę jeśli jest zainstalowana w przeglądarce odbiorcy, jeśli nie, wyświetli inną domyślną*/
/*}

article h2,
article p {
  font-family: ariall, "Timess New Roman"; /*wyświetli czcionkę 'Timess New Roman' jeśli ariall nie jest zainstalowana w przeglądarce odbiorcy*/
/*}

/*
a {
  text-decoration: none;
}

article {
  text-decoration: overline;
}

a {
  text-decoration: inherit;
}*/
/* 
h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}
p {
  font-weight: normal;
  font-weight: lighter;
  font-weight: lighter;
  font-family: "Yu Gothic";
} */
/* 
#header p {
  text-transform: uppercase;
}

body {
  text-transform: capitalize;
}

body > p {
  text-transform: none;
} */

/* #header h1 {
  color: chocolate;
}

#header h2 {
  color: #567398;
  background-color: antiquewhite;
}

#header {
  background: url(../img/P1100776.JPG);
} */
/* 
.welcome {
  font-weight: bolder;
  font-size: 34px;
}

a {
  color: crimson;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: blueviolet;
  background-color: coral;
  text-decoration: underline;
  font-size: 40px;
} */
/* 
#main-content > p {
  font-size: 24px;
  word-spacing: 4px;
  line-height: 1.5em;
}

#header :nth-child(3) {
  font-size: 48px;
  text-transform: uppercase;
}

#header :last-child {
  font-size: 48px;
  text-transform: uppercase;
} */

/* #main-content > p {
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 32px;
} */

.box {
  margin: 30px;
  padding: 30px;
  border: 1px solid #000;
  background: cyan;
}
